<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="index.html"><i class="icon-speedometer"></i> Dashboard
          <!--<span class="badge badge-primary">NEW</span>-->
        </a>
      </li>
      <li class="nav-title">
        Service
      </li>

      <li class="nav-item">
        <%= link_to consignments_path, class: 'nav-link' do %>
            <i class="icon-puzzle"></i> Deliveries
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to merchants_path, class: 'nav-link' do %>
            <i class="icon-puzzle"></i> Merchants
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to plans_path, class: 'nav-link' do %>
            <i class="icon-puzzle"></i> Plans
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to hubs_path, class: 'nav-link' do %>
            <i class="icon-puzzle"></i> Hubs
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to users_path, class: 'nav-link' do %>
            <i class="icon-puzzle"></i> Users
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to site_options_path, class: 'nav-link' do %>
            <i class="icon-puzzle"></i> Site Options
        <% end %>
      </li>
    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>