<%= simple_form_for(@hub) do |f| %>
  <%= f.error_notification %>

    <div class="card-body">
    <div class="form-group">
      <%= f.label :name, 'Hub Name' %>
      <%= f.input :name, label: false, placeholder: 'Hub name' %>
    </div>

    <!--<div class="row">-->

      <!--<div class="form-group col-sm-8">-->
        <!--<label for="city">City</label>-->
        <!--<input type="text" class="form-control" id="city" placeholder="Enter your city">-->
      <!--</div>-->

      <!--<div class="form-group col-sm-4">-->
        <!--<label for="postal-code">Postal Code</label>-->
        <!--<input type="text" class="form-control" id="postal-code" placeholder="Postal Code">-->
      <!--</div>-->

    <!--</div>-->

  </div>
  <div class="card-footer">
    <%= f.button :submit, class: 'btn btn-sm btn-primary' %>
  </div>
<% end %>