<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Hubs
      <%= link_to 'Create Hub', new_hub_path, class:  'btn btn-sm btn-primary pull-right'%>
    </div>
    <div class="card-body">
      <table class="table table-responsive-sm table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <% @hubs.each do |hub| %>
            <tr>
              <td><%= hub.name %></td>
              <td>
                <%= link_to hub, class: 'btn btn-success' do %>
                    <i class="fa fa-search-plus "></i>
                <% end %>

                <%= link_to edit_hub_path(hub), class: 'btn btn-info' do %>
                    <i class="fa fa-edit "></i>
                <% end %>

                <%= link_to hub, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } do %>
                    <i class="fa fa-trash-o "></i>
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <%= paginate @hubs %>
    </div>
  </div>
</div>
