<div class="animated fadeIn">
  <div class="card">

    <div class="card-body row">
      <h4 class="card-title col-10">Merchant Details</h4>
      <div class="col-2">
        <%= link_to 'Edit', edit_merchant_path(@merchant), class: 'btn btn-primary' %>
        <%= link_to 'Back', merchants_path, class: 'btn btn-primary' %>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Merchant Name: </strong> <%= @merchant.hub.name %></li>
      <li class="list-group-item"><strong>Hub Name: </strong> <%= @merchant.name %></li>
      <li class="list-group-item"><strong>Representative name: </strong> <%= @merchant.representative_name %></li>
      <li class="list-group-item"><strong>Website: </strong> <%= @merchant.website %></li>
    </ul>
  </div>
</div>
