<p id="notice"><%= notice %></p>

<h1>Consignments</h1>

<table>
  <thead>
    <tr>
      <th>Merchant</th>
      <th>Plan</th>
      <th>Tracking</th>
      <th>Receiver name</th>
      <th>Receiver phone</th>
      <th>Receiver addr</th>
      <th>Amount</th>
      <th>Weight</th>
      <th>Charge</th>
      <th>Additional cost</th>
      <th>Compensation</th>
      <th>Payment status</th>
      <th>Merchant order no</th>
      <th>Package description</th>
      <th>Delivered on</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consignments.each do |consignment| %>
      <tr>
        <td><%= consignment.merchant_id %></td>
        <td><%= consignment.plan_id %></td>
        <td><%= consignment.tracking_code %></td>
        <td><%= consignment.receiver_name %></td>
        <td><%= consignment.receiver_phone %></td>
        <td><%= consignment.receiver_addr %></td>
        <td><%= consignment.amount %></td>
        <td><%= consignment.weight %></td>
        <td><%= consignment.charge %></td>
        <td><%= consignment.additional_cost %></td>
        <td><%= consignment.compensation %></td>
        <td><%= consignment.payment_status %></td>
        <td><%= consignment.merchant_order_no %></td>
        <td><%= consignment.package_description %></td>
        <td><%= consignment.delivered_on %></td>
        <td><%= link_to 'Show', consignment %></td>
        <td><%= link_to 'Edit', edit_consignment_path(consignment) %></td>
        <td><%= link_to 'Destroy', consignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Consignment', new_consignment_path %>
