<div class="animated fadeIn noprint">
  <div class="card">

    <div class="card-body row">
      <h4 class="card-title col-10">Consignment Details</h4>

      <div class="col-2 text-right">
        <%= link_to 'Edit', edit_consignment_path(@consignment), class: 'btn btn-primary' %>
        <%= link_to 'Back', consignments_path, class: 'btn btn-primary' %>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#print_consignment">
          Print
        </button>
      </div>
    </div>
    <div class="card-body row">
      <ul class="list-group list-group-flush show-list-group col-6">
        <li class="list-group-item"><strong>Merchant: </strong> <%= @consignment.merchant.name %></li>
        <li class="list-group-item"><strong>Plan: </strong> <%= @consignment.plan.present? ? @consignment.plan.name : '' %></li>
        <li class="list-group-item"><strong>Tracking Code: </strong> <%= @consignment.tracking_code %></li>
        <li class="list-group-item"><strong>Receiver name: </strong> <%= @consignment.receiver_name %></li>
        <li class="list-group-item"><strong>Receiver phone: </strong> <%= @consignment.receiver_phone %></li>
        <li class="list-group-item"><strong>Receiver Address: </strong> <%= @consignment.receiver_addr %></li>
        <li class="list-group-item"><strong>Amount: </strong> <%= number_to_currency(@consignment.amount, :unit => "BDT ", :separator => ".", :delimiter => ",") %></li>
        <li class="list-group-item"><strong>Weight: </strong> <%= @consignment.weight %></li>
        <li class="list-group-item"><strong>Charge: </strong> <%= number_to_currency(@consignment.charge, :unit => "BDT ", :separator => ".", :delimiter => ",") %></li>
        <li class="list-group-item"><strong>Additional cost: </strong> <%= number_to_currency(@consignment.additional_cost, :unit => "BDT ", :separator => ".", :delimiter => ",") %></li>
        <li class="list-group-item"><strong>Compensation: </strong> <%= number_to_currency(@consignment.compensation, :unit => "BDT ", :separator => ".", :delimiter => ",") %></li>
        <li class="list-group-item"><strong>Payment status: </strong> <%= @consignment.payment_status %></li>
        <li class="list-group-item"><strong>Merchant order no: </strong> <%= @consignment.merchant_order_no  %></li>
      </ul>

      <ul class="list-group list-group-flush show-list-group col-6">
        <li class="list-group-item"><strong>Package description: </strong> <%= @consignment.package_description %></li>
        <li class="list-group-item"><strong>Delivered on: </strong> <%= @consignment.delivered_on %></li>
        <li class="list-group-item"><strong>Current Hub: </strong> <%= @consignment.current_hub_id %></li>
        <li class="list-group-item"><strong>Targeted Hub: </strong> <%= @consignment.target_hub_id %></li>
        <li class="list-group-item"><strong>Rider: </strong> <%= @consignment.rider %></li>
        <li class="list-group-item"><strong>Assigned By: </strong> <%= @consignment.assigned_by %></li>
        <li class="list-group-item"><strong>Data Entry By: </strong> <%= @consignment.data_entry_by %></li>
        <li class="list-group-item"><strong>Delivery Completed By: </strong> <%= @consignment.completed_by %></li>
        <li class="list-group-item"><strong>Assigned Time: </strong> <%= @consignment.assigned_on %></li>
        <li class="list-group-item"><strong>Delivery Completed Time: </strong> <%= @consignment.completed_on %></li>
        <li class="list-group-item"><strong>Data Entry Time: </strong> <%= @consignment.data_entry_on %></li>
        <li class="list-group-item"><strong>Delivery Status: </strong> <%= @consignment.status %></li>
      </ul>
    </div>
  </div>
</div>

<div class="modal fade" id="print_consignment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <!--<div class="modal-header">-->
        <!--<h4 class="modal-title">Modal title</h4>-->
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
          <!--<span aria-hidden="true">×</span>-->
        <!--</button>-->
      <!--</div>-->
      <div class="modal-body">
        <p>Tracking Code : <%= @consignment.tracking_code %></p>
        <p>Receiver Name : <%= @consignment.receiver_name %></p>
        <p>Receiver Phone No : <%= @consignment.receiver_phone %></p>
        <p>Receiver Address : <%= @consignment.receiver_addr %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="" target="_blank" class="btn btn-primary" onclick="myFunction()">Print</a>
      </div>
    </div>
  </div>
</div>

<script>
    function myFunction() {
        window.print();
    }
</script>