<%= simple_form_for(edit_password_path(user), method: 'put') do |f| %>
    <%= f.error_notification %>
    <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>

    <div class="card-body">

      <div class="form-group">
        <%= label :user, :password %>
        <%= password_field :user, :password, class: 'form-control', placeholder: 'Password' %>
      </div>
      <div class="form-group">
        <%= label :user, :password_confirmation %>
        <%= password_field :user, :password_confirmation, class: 'form-control', placeholder: 'Password Confirmation' %>
      </div>

    </div>
    <div class="card-footer">
      <%= button_tag 'Update Password', class: 'btn btn-sm btn-primary' %>
      <%= link_to 'Cancel', users_path, class: 'btn btn-sm btn-primary' %>
    </div>
<% end %>