<%= simple_form_for(user, url: edit_user_path(user), method: 'put',  multipart: true) do |f| %>
    <%= f.error_notification %>
    <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>

    <div class="card-body">

      <div class="row">
        <div class="form-group col-sm-6">
          <%= f.label :first_name, 'First Name' %><span class="required_field"> *</span>
          <%= f.input :first_name, label: false, placeholder: 'First name', required: true, autofocus: true %>
        </div>

        <div class="form-group col-sm-6">
          <%= f.label :last_name, 'Last Name' %><span class="required_field"> *</span>
          <%= f.input :last_name, label: false, placeholder: 'Last name', required: true %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :email, 'Email' %><span class="required_field"> *</span>
        <%= f.input :email, label: false, placeholder: 'example@email.com', required: true, autofocus: true %>
      </div>

      <div class="form-group">
        <%= f.label :phone_number, 'Phone No' %><span class="required_field"> *</span>
        <%= f.input :phone_number, label: false, placeholder: 'Phone number', required: true %>
      </div>

      <div class="form-group">
        <%= f.label :gender, 'Gender' %>
        <%= f.select :gender, @gender, {include_blank: 'Please Select'}, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :dob, 'Date Of Birth' %>
        <%= f.input :dob, as: :date, label: false %>
      </div>

      <div class="form-group row">
        <%= f.label :role_ids, 'User roles :', class: 'col-md-1 col-form-label' %>
        <div class="col-md-4 col-form-label">
          <div class="form-check checkbox">
            <%= f.input :role_ids, as: :check_boxes, collection: @roles, label: false, class: 'form-check-input' %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :status %>
        <div class="radio-list">
          <label><%= f.radio_button :status, 'active', checked: user.active? %> Active</label>
          <label><%= f.radio_button :status, 'block', checked: user.block? %> Block</label>
        </div>
      </div>

    </div>
    <div class="card-footer">
      <%= f.button :submit, class: 'btn btn-sm btn-primary' %>
    </div>
<% end %>