<%= simple_form_for(@user) do |f| %>
    <%= f.error_notification %>
    <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>

    <div class="card-body">

      <div class="form-group">
        <%= f.label :email, 'Email' %><span class="required_field"> *</span>
        <%= f.input :email, label: false, placeholder: 'example@email.com', required: true, autofocus: true %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'Password' %><span class="required_field"> *</span>
        <%= f.input :password, label: false, required: true, placeholder: 'Password',
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      </div>

    </div>
    <div class="card-footer">
      <%= f.button :submit, class: 'btn btn-sm btn-primary' %>
    </div>
<% end %>