<div class="animated fadeIn">
  <div class="card">
    <div class="card-body row">
      <h4 class="card-title col-8">User Details</h4>
      <div class="col-4 text-right">
        <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-sm btn-primary' %>
        <%= link_to 'Edit Password', edit_password_inline_path(@user), class: 'btn btn-sm btn-primary' %>
        <%= link_to 'Back', users_path, class: 'btn btn-sm btn-primary' %>
      </div>
    </div>
    <div class="card-body row">
      <ul class="list-group list-group-flush show-list-group col-6">
        <li class="list-group-item"><strong>Name: </strong> <%= "#{@user.first_name} #{@user.last_name}" %></li>
        <li class="list-group-item"><strong>Email: </strong> <%= @user.email %></li>
        <li class="list-group-item"><strong>Phone: </strong> <%= @user.phone_number %></li>
        <li class="list-group-item"><strong>Gender: </strong> <%= @user.gender %></li>
        <li class="list-group-item"><strong>Date Of Birth: </strong> <%= @user.dob %></li>
        <li class="list-group-item"><strong>Roles: </strong> <ul>
          <% @user.roles.each do |role| %>
              <li><%= role.title %></li>
          <% end %>
        </ul></li>
        <li class="list-group-item"><strong>Brand Name: </strong> <%= @user.user_profile.brand %></li>
      </ul>

      <ul class="list-group list-group-flush show-list-group col-6">
        <li class="list-group-item"><strong>Profile Picture: </strong>
          <%= image_tag @user.user_profile.profile_picture.url(:thumb) %></li>
        <li class="list-group-item"><strong>Address: </strong> <%= @user.user_profile.address %></li>
        <li class="list-group-item"><strong>Business Owner Name: </strong> <%= @user.user_profile.business_owner %></li>
        <li class="list-group-item"><strong>Merchant Representative Name: </strong> <%= @user.user_profile.representative_name %></li>
        <li class="list-group-item"><strong>Merchant Website: </strong> <%= @user.user_profile.website %></li>
        <li class="list-group-item"><strong>Status: </strong> <%= @user.status %></li>
      </ul>
    </div>
  </div>
</div>