<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Logistic Management System">
  <meta name="author" content="Åukasz Holeczek">
  <meta name="keyword" content="Logistic Management System">
  <link rel="shortcut icon" href="img/favicon.png">
  <title>Logistic Management System | <%= @page_title || "Dashboard" %></title>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">

  <%= render 'shared/header' %>

  <div class="app-body">
    <%= render 'shared/sidebar' %>

    <main class="main">
      <%#= render 'shared/breadcrumb' %>
      <div class="container-fluid">
        <div class="alert-message ">
          <% if !flash[:notice].blank? %>
              <p class="notice alert alert-success"><%= notice %></p>
          <% end %>
          <% if !flash[:alert].blank? %>
              <p class="alert alert-danger"><%= alert %></p>
          <% end %>
        </div>

        <%= yield %>
      </div>

    </main>

    <%= render 'shared/aside' %>
  </div>
  <%= render 'shared/footer' %>


</body>
</html>