<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Logistic Management System">
  <meta name="author" content="Åukasz Holeczek">
  <meta name="keyword" content="Logistic Management System">
  <link rel="shortcut icon" href="img/favicon.png">
  <title>Logistic Management System</title>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
  <%= render 'shared/header' %>
  <div class="app-body">
  <%= render 'shared/sidebar' %>
  <!-- Main content -->
  <main class="main">
    <%= render 'shared/breadcrub' %>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <!-- /.conainer-fluid -->
  </main>
  <%= render 'shared/aside' %>
</div>
<%= render 'shared/footer' %>


</body>
</html>