<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Logistic Management System">
  <meta name="author" content="Åukasz Holeczek">
  <meta name="keyword" content="Logistic Management System">
  <link rel="shortcut icon" href="img/favicon.png">
  <title>Logistic Management System | <%= @page_title || "Login" %></title>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <style>
    body {
      background: #0e1a44c9;
    }
    .login .flash.alert {
      background: mediumvioletred;
      color: #fff;
    }
  </style>
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">

  <div class="app-body">

      <%# if !flash[:notice].blank? || !flash[:alert].blank? %>
          <!--<p class="notice"><%#= notice %></p>-->
          <!--<p class="alert"><%#= alert %></p>-->
    <%# end %>

    <div class="container">
      <%= yield %>
    </div>

  </div>

  <%= render 'shared/footer' %>

</body>
</html>